<div class="container mt-3">
    <form class="well" ng-submit="insertProduct()">

        <div class="form-group">
            <label>Product name</label>
            <input type="text" class="form-control" ng-model="name">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" ng-model="price">
        </div>
        <div class="form-group">
            <label>Type</label>
            <select class="form-control" ng-model="type">
                <option value="Galaxy">Galaxy</option>
                <option value="iPone">iPone</option>
                <option value="Hawaii">Hawaii</option>
            </select>
        </div>
        <div class="form-group">
            <label>Modernity</label>
            <select class="form-control" ng-model="modernity">
                <option value="New">New</option>
                <option value="Old">Old</option>
                <option value="Brand">Brand</option>
            </select>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-model="descr"></textarea>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" mds-file file="x" base64="y">
        </div>
        <img src="{{y}}" style="height: 200px;width: 200;border-radius:100%;"><br>
        <button class="btn btn-info">Insert</button>
    </form>

</div>