<!-- Main layout -->
<main>

  <!-- intro -->
    <div class="view jarallax" style="height: 100vh;">
      <img class="jarallax-img" src="https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg" alt="">
      <div class="mask rgba-blue-slight">
        <div class="container flex-center text-center">
          <div class="row mt-5">
            <div class="col-md-12 wow fadeIn mb-3">
              <h1 class=" display-4 mb-2 wow fadeInDown" data-wow-delay="0.3s">Find All Your Needs in <a class="indigo-text font-weight-bold">PStore</a></h1>
              <h5 class="text-uppercase mb-3 mt-1 font-weight-bold wow fadeIn" data-wow-delay="0.4s">Material & Vertual Products</h5>
              <a class="btn btn-light-blue btn-lg wow fadeIn" ui-sref="app.store" data-wow-delay="0.4s">Oure store</a> <a class="btn btn-indigo btn-lg wow fadeIn" ui-sref="app.contact" data-wow-delay="0.4s">contact us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- intro -->

  <!-- Our Clients -->
  <div class="container-fluid py-3" style="background-color: rgb(233, 233, 233);">

    <section class="text-center">  
      <!-- Logo carousel -->
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1800">
        <div class="carousel-inner">
          <!-- First slide -->
          <div class="carousel-item active">
            <!--Grid row-->
            <div class="row">
  
              <!--First column-->
              <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                <img src="https://mdbootstrap.com/img/Photos/Template/5.png" class="img-fluid px-4" alt="Logo">
              </div>
              <!--/First column-->
  
              <!--Second column-->
              <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                <img src="https://mdbootstrap.com/img/Photos/Template/7.png" class="img-fluid px-4" alt="Logo">
              </div>
              <!--/Second column-->
  
              <!--Third column-->
              <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                <img src="https://mdbootstrap.com/img/Photos/Template/6.png" class="img-fluid px-4" alt="Logo">
              </div>
              <!--/Third column-->
  
              <!--Fourth column-->
              <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                <img src="https://mdbootstrap.com/img/Photos/Template/9.png" class="img-fluid px-4" alt="Logo">
              </div>
              <!--/Fourth column-->
  
            </div>
            <!--/Grid row-->
          </div>
          <!-- First slide -->
  
          <!-- Second slide -->
          <div class="carousel-item">
            <!--Grid row-->
            <div class="row">
  
              <!--First column-->
              <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                <img src="https://mdbootstrap.com/img/Photos/Template/11.png" class="img-fluid px-4" alt="Logo">
              </div>
              <!--/First column-->
  
              <!--Second column-->
              <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                <img src="https://mdbootstrap.com/img/Photos/Template/10.png" class="img-fluid px-4" alt="Logo">
              </div>
              <!--/Second column-->
  
              <!--Third column-->
              <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                <img src="https://mdbootstrap.com/img/Photos/Template/12.png" class="img-fluid px-4" alt="Logo">
              </div>
              <!--/Third column-->
  
              <!--Fourth column-->
              <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                <img src="https://mdbootstrap.com/img/Photos/Template/13.png" class="img-fluid px-4" alt="Logo">
              </div>
              <!--/Fourth column-->
  
            </div>
            <!--/Grid row-->
          </div>
          <!-- Second slide -->
  
          <!-- Third slide -->
          <div class="carousel-item">
            <!--Grid row-->
            <div class="row">
  
              <!--First column-->
              <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                <img src="https://mdbootstrap.com/img/Photos/Template/1a.png" class="img-fluid px-4" alt="Logo">
              </div>
              <!--/First column-->
  
              <!--Second column-->
              <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                <img src="https://mdbootstrap.com/img/Photos/Template/2a.png" class="img-fluid px-4" alt="Logo">
              </div>
              <!--/Second column-->
  
              <!--Third column-->
              <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                <img src="https://mdbootstrap.com/img/Photos/Template/3a.png" class="img-fluid px-4" alt="Logo">
              </div>
              <!--/Third column-->
  
              <!--Fourth column-->
              <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                <img src="https://mdbootstrap.com/img/Photos/Template/4a.png" class="img-fluid px-4" alt="Logo">
              </div>
              <!--/Fourth column-->
  
            </div>
            <!--/Grid row-->
          </div>
          <!-- Third slide -->
        </div>
  
      </div>
      <!-- Logo carousel -->
      
    </section>
  
  </div>
  <!-- Our Clients -->

  <!-- Our Features -->
  <div class="container py-5 my-5">
    <section class="p-md-3 mx-md-5">
      <!-- Section heading -->
      <h2 class="text-center font-weight-bold mb-4 pb-2">Our Featured Products</h2>
      <div class="row mb-5 d-flex align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="card">
            <div class="card-header white">
              <h4 class="font-weight-bold mb-0">Product Name</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat.
              </p>
              <a class="blue-text font-weight-bold" href="#">More Details</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="view overlay rounded z-depth-1">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" class="img-fluid"
              alt="Sample project image" />
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="row mb-5 d-flex align-items-center justify-content-end">
        <div class="col-md-6 col-lg-4">
          <div class="view overlay rounded z-depth-1">
            <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" class="img-fluid"
              alt="Sample project image" />
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="card">
            <div class="card-header white">
              <h4 class="font-weight-bold mb-0">Product Name</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat.
              </p>
              <a class="blue-text font-weight-bold" href="#">More Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="card">
            <div class="card-header white">
              <h4 class="font-weight-bold mb-0">Product Name</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat.
              </p>
              <a class="blue-text font-weight-bold" href="#">More Details</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="view overlay rounded z-depth-1">
            <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid"
              alt="Sample project image" />
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Our Features -->

  <!-- What Makes Us Special -->
    <div class="container my-5 pt-5">
      <!--Section: Content-->
      <section class="dark-grey-text p-5 z-depth-1">
    
        <!-- Section heading -->
        <h2 class="text-center font-weight-bold mb-4 pb-2">What Makes Us Special?</h2>
        
        <!-- Grid row -->
        <div class="row">
    
          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-5">
    
            <!-- Grid row -->
            <div class="row">
    
              <!-- Grid column -->
              <div class="col-lg-2 col-md-3 col-2">
                <i class="fas fa-bullhorn blue-text fa-2x"></i>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-lg-10 col-md-9 col-10">
                <h4 class="font-weight-bold">Marketing</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a class="btn btn-primary btn-sm">Learn more</a>
              </div>
              <!-- Grid column -->
    
            </div>
            <!-- Grid row -->
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-5">
    
            <!-- Grid row -->
            <div class="row">
    
              <!-- Grid column -->
              <div class="col-lg-2 col-md-3 col-2">
                <i class="fas fa-cogs pink-text fa-2x"></i>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-lg-10 col-md-9 col-10">
                <h4 class="font-weight-bold">Customization</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a class="btn btn-pink btn-sm">Learn more</a>
              </div>
              <!-- Grid column -->
    
            </div>
            <!-- Grid row -->
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-4">
    
            <!-- Grid row -->
            <div class="row">
    
              <!-- Grid column -->
              <div class="col-lg-2 col-md-3 col-2">
                <i class="fas fa-tachometer-alt purple-text fa-2x"></i>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-lg-10 col-md-9 col-10">
                <h4 class="font-weight-bold">Support</h4>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a class="btn btn-purple btn-sm">Learn more</a>
              </div>
              <!-- Grid column -->
    
            </div>
            <!-- Grid row -->
    
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
      </section>
      <!--Section: Content-->
    
    </div>
  </div>
  <!-- What Makes Us Special -->
    
  <!-- Testimonials -->
  <div class="container py-5 my-5">


    <!--Section: Content-->
    <section class="text-center dark-grey-text">
  
      <!-- Section heading -->
      <h3 class="font-weight-bold mb-4 pb-2">Testimonials</h3>
  
        <!-- row -->
        <div class="row row-cols1 row-cols-sm-2 row-cols-md-3">
          <!-- First Testimonial -->
          <div class="col col-sm-6 col-md-4">
            <div class="testimonial z-depth-1 p-4 pb-5 mb-4 mb-md-0 rounded">
              <!--Avatar-->
              <div class="avatar mx-auto mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" width="150" class="z-depth-1-half rounded-circle"
                  alt="First sample avatar image">
              </div>
              <!--Content-->
              <p>
                <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                eos
                id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur
                adipisicing elit.
              </p>
              <h4 class="font-weight-bold">Anna Deynah</h4>
              <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
              <!--Review-->
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star-half-alt blue-text"> </i>
            </div>
          </div>
          <!-- First Testimonial -->
          
          <!-- Second Testimonial -->
          <div class="col col-sm-6 col-md-4">
            <div class="testimonial z-depth-1 p-4 pb-5 mb-4 mb-md-0 rounded">
              <!--Avatar-->
              <div class="avatar mx-auto mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" width="150" class="z-depth-1-half rounded-circle"
                  alt="Second sample avatar image">
              </div>
              <!--Content-->
              <p>
                <i class="fas fa-quote-left"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                odit
                aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
              <h4 class="font-weight-bold">Maria Kate</h4>
              <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
              <!--Review-->
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
            </div>
          </div>
          <!-- Second Testimonial -->

          <!-- Third Testimonial -->
          <div class="col col-sm-6 col-md-4">
            <div class="testimonial z-depth-1 p-4 pb-5 mb-4 mb-md-0 rounded">
              <!--Avatar-->
              <div class="avatar mx-auto mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" width="150" class="z-depth-1-half rounded-circle"
                  alt="Third sample avatar image">
              </div>
              <!--Content-->
              <p>
                <i class="fas fa-quote-left"></i> Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui.</p>
              <h4 class="font-weight-bold">John Doe</h4>
              <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
              <!--Review-->
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="fas fa-star blue-text"> </i>
              <i class="far fa-star blue-text"> </i>
            </div>
          </div>
          <!-- Third Testimonial -->

        </div>
        <!-- row -->
      
            
              
           
            
        
             
            <!--Third slide-->
            <div class="carousel-item">
              
            <!--Third slide-->
          
      </div>
  
    </section>
    <!--Section: Content-->
  
  
  </div>
  <!-- Testimonials -->

  <!-- Our Best Sellers -->
  <div class="container pb-5 my-5">

  
    <!--Section: Content-->
    <section class="dark-grey-text text-center">
      
      <!-- Section heading -->
      <h3 class="font-weight-bold mb-4 pb-2">Our bestsellers</h3>
     
      <!-- Grid row -->
      <div class="row row-cols1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  
        <!-- Grid column -->
        <div class="col-md-4 col-sm-6 col-lg-3 mb-4 d-flex align-items-stretch">
          <!-- Card -->
          <div class="card align-items-center wow fadeIn position-relative ">
            <!-- Card image -->
            <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body text-center px-0">
              <!-- Product Tag -->
              <span style="top:10px;left:0" class="badge danger-color d-block position-absolute">New</span>
              
              <!-- Product Category -->
              <a class="grey-text">
                <h6>Shirt</h6>
              </a>
              <a class="dark-grey-text"><h5 class="mb-3 text-left">Denim Shirt</h5></a>
              
              
              <div class="d-flex justify-content-between align-aitems-center">
                <span class="font-weight-bold blue-text mb-0">$120</span>
                <a ui-sref="#"><i class="fa fa-heart" style="color:#888"></i></a>
                <a ui-sref="#"><i class="fa fa-shopping-cart" style="color:#444"></i></a>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
          <!-- Card -->
          <div class="card align-items-center wow fadeIn position-relative ">
            <!-- Card image -->
            <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body text-center px-0">
              <!-- Product Tag -->
              <span style="top:10px;left:0" class="badge danger-color d-block position-absolute">Featured</span>
              
              <!-- Product Category -->
              <a class="grey-text">
                <h6>Sport Ware</h6>
              </a>
              <a class="dark-grey-text"><h5 class="mb-3 text-left">Sweat Shirt</h5></a>
              
              
              <div class="d-flex justify-content-between align-aitems-center">
                <span class="font-weight-bold blue-text mb-0">$139</span>
                <a ui-sref="#"><i class="fa fa-heart" style="color:#888"></i></a>
                <a ui-sref="#"><i class="fa fa-shopping-cart" style="color:#444"></i></a>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
          <!-- Card -->
          <div class="card align-items-center wow fadeIn position-relative ">
            <!-- Card image -->
            <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body text-center px-0">
              <!-- Product Tag -->
              <span style="top:10px;left:0" class="badge danger-color d-block position-absolute">Best</span>
              
              <!-- Product Category -->
              <a class="grey-text">
                <h6>Sport Ware</h6>
              </a>
              <a class="dark-grey-text"><h5 class="mb-3 text-left">Gray Blouse</h5></a>
              
              
              <div class="d-flex justify-content-between align-aitems-center">
                <span class="font-weight-bold blue-text mb-0">$294</span>
                <a ui-sref="#"><i class="fa fa-heart" style="color:#888"></i></a>
                <a ui-sref="#"><i class="fa fa-shopping-cart" style="color:#444"></i></a>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
          <!-- Card -->
          <div class="card align-items-center wow fadeIn position-relative ">
            <!-- Card image -->
            <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body text-center px-0">
              <!-- Product Tag -->
              <span style="top:10px;left:0" class="badge danger-color d-block position-absolute">Featured</span>
              
              <!-- Product Category -->
              <a class="grey-text">
                <h6>Outer</h6>
              </a>
              <a class="dark-grey-text"><h5 class="mb-3 text-left">Black Jacket</h5></a>
              
              
              <div class="d-flex justify-content-between align-aitems-center">
                <span class="font-weight-bold blue-text mb-0">$219</span>
                <a ui-sref="#"><i class="fa fa-heart" style="color:#888"></i></a>
                <a ui-sref="#"><i class="fa fa-shopping-cart" style="color:#444"></i></a>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->
  
  
  </div>
  <!-- Our Best Sellers -->
  
     
  
</main>
<!-- Main layout -->