<div style="min-height: 110vh;" class="container">
  <div class="row row-cols1 row-cols-md-2 py-5">
    <!-- Sidebar -->
    <div class="col-md-3">
      <div class="accordion" id="accordionExample275">
        <div class="card z-depth-0 bordered">
          <div class="card-header" id="headingOne2">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne2"
                aria-expanded="true" aria-controls="collapseOne2">
                Electronics
              </button>
            </h5>
          </div>
          <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2"
            data-parent="#accordionExample275">
            <div class="card-body">
              <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action">Cras justo odio</a>
                <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card z-depth-0 bordered">
          <div class="card-header" id="headingTwo2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                Clothes
              </button>
            </h5>
          </div>
          <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
            data-parent="#accordionExample275">
            <div class="card-body">
              <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action">Cras justo odio</a>
                <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card z-depth-0 bordered">
          <div class="card-header" id="headingThree2">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                Shoes
              </button>
            </h5>
          </div>
          <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2"
            data-parent="#accordionExample275">
            <div class="card-body">
              <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action">Cras justo odio</a>
                <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sidebar -->
  
    <!-- products column -->
    <div class="col-md-9">
      <div class="row row-cols1 row-cols-sm-2 row-cols-md-4">
        <div class="col-sm-6 col-md-4 mb-4" ng-repeat="product in products track by $index">
          <!-- Card -->
          <div class="card align-items-center wow fadeIn position-relative ">
            <!-- Card image -->
            <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
                alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- Card image -->
            <!-- Card content -->
            <div class="card-body text-center px-0">
              <!-- Product Tag -->
              <span style="top:10px;left:0" class="badge danger-color d-block position-absolute">{{product.tag}}</span>
              
              <!-- Product Category -->
              <a class="grey-text">
                <h6>{{product.category}}</h6>
              </a>
              <a class="dark-grey-text"><h5 class="mb-3 text-left">{{product.name}}</h5></a>
              
              
              <div class="d-flex justify-content-between align-aitems-center">
                <span class="font-weight-bold blue-text mb-0">{{product.price | currency}}</span>
                <a ui-sref="#"><i class="fa fa-heart" style="color:#888"></i></a>
                <a ui-sref="#"><i class="fa fa-shopping-cart" style="color:#444"></i></a>
              </div>
            </div>
            <!-- Card content -->
          </div>
          <!-- Card -->
        </div>
      </div>
    </div>
    <!-- products column -->
  </div>
  
  <!-- Cart Modal -->
  <div id="exampleModalPopovers" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalPopoversLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalPopoversLabel">Cart content</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>My products</h5>
          <div class="row">
              <div class="col-6" ng-class="togg?C_btn:''" ng-repeat="cartPro in cartProducts">
                <!-- Card -->
                <div class="card m-2">
        
                  <!-- Card image -->
                  <div class="view overlay">
                    <img class="card-img-top" style="height: 200px;" src="{{cartPro.img}}" alt="Card image cap">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
        
                  <!-- Card content -->
                  <div class="card-body" style="height: 250px;">
                    <!-- Title -->
                    <h3 class="card-title">{{cartPro.name}}</h3>
                    <!-- Text -->
                    <p class="card-text">
                      Price : {{cartPro.price}} / Modernity : {{cartPro.modernity}} <br>
                      Quantity : {{cartPro.quantity}} <br>
                      {{cartPro.descr}}</p>
                    <!-- Button -->
                    <a ng-click="deleteCartProduct(cartPro.id)" data-toggle="modal" data-target="#exampleModalCenter"
                      class="btn btn-danger">Remove</a>
        
                  </div>
        
                </div>
                <!-- Card -->
        
        
              </div>
      
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Cart Modal -->
</div>